
<h3>cuentas</h3>
<td class="text-nowrap">
  <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
  <button  class="btn btn-sm pointer" data-toggle="tooltip" (click) = "mostrarModal()" data-original-title="+ movimientos"><i class="fa fa-file-text text-default"></i> </button>
</td>

<p id="demo">Click the button to change the text in this paragraph.</p>
 <div *ngFor = "let acc of accountingAccounts; index as i">
  <div class="row list-group-item-action">
    <div id="demo" class="col-md-4">
        <h3> {{acc.name}}</h3>
    </div>
    <div class="col-md-2">
     <h3>{{acc.account}}</h3>
    </div>
    <div class="col-md-2">
      <h3>{{acc.balance |currency}}</h3>
    </div>
    <div class="d-inline p-2">
      <a data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i></a>
    </div>
    <div class="d-inline p-2">
      <a data-toggle="tooltip pointer" data-original-title="Agregar Subcuenta"> <i class="ti-plus text-info cursor"  (click)="showSubaccountModal(acc)"></i> </a>
    </div>
    <div class="d-inline p-2">
      <a data-toggle="collapse" class="collapsed" [attr.data-target]="'#collapse' + i" aria-expanded="false" aria-controls="studies-collapse"><h3><i [attr.id]="'#'+i" #id (click) ="isCollapsed(id)" class ="ti-zoom-in text-primary"></i></h3></a>
    </div>
  </div>

   <!-- ============================================================== -->
               <!-- Comienza contenido del Collapse  -->
   <!-- ============================================================== -->


  <div class="collapse"  [attr.id]="'collapse' + i"  data-parent="#menu">
  <div *ngFor="let sub of acc.subCuentas" class="p-2">
    <div class= "row list-group-item-action">

    <!-- <div class="col-md-1"></div> -->
      <div class="col-md-2">
        <h6>
          {{sub.nameSubAccount}}
        </h6>
      </div>
      <div class="col-md-2">
        {{sub.subAccountNumber}}
      </div>
      <div class="col-md-2">
        {{sub.subAccountBalance |currency}}
      </div>
      <div class="col-md-1">

        <a data-toggle="tooltip" (click) ="editSubAcc(acc, sub.id)" data-original-title="Edit"> <i class="fa fa-pencil text-warning m-r-10"></i> </a>
      </div>
      <div class="col-md-1">
        <a data-toggle="tooltip" data-original-title="Close"><i class="ti-plus"></i></a>
      </div>
    </div>
  </div>
  </div>

   <!-- ============================================================== -->
               <!-- Finaliza contenido del Collapse  -->
   <!-- ============================================================== -->

</div>

      <!-- ============================================================== -->
               <!-- Abre Modal para Llenar Form de Subcuentas -->
      <!-- ============================================================== -->

             <app-modal-subaccount></app-modal-subaccount>




